:root {
   --primary-color: #9f3647;
   --bg-color: #181419;
   --secondary-color: #ffc098;
   --third-color: #db4648;
   --third-bis-color: #db4648f2;
   --bg-input-color: #4f31572c;
   --white-color: #fdf5ef;
   /* fuentes */
   --primary-font: 'Nunito', sans-serif;
}

/* selector all */
* {
   margin: 0;
   padding: 0;
}

header {
   background-color: var(--primary-color);
   padding: 2vh 0;
   position: sticky;
   /* para dejar mi nav quieto*/
   top: 0;
   /* nav quieto arriba*/
}

nav {
   display: flex;
   justify-content: space-between;
   /*A침ade un espacio entre los elementos del nav*/
   align-items: center;
   /* Alinear los items del nav horizontal*/
}

nav ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
   text-align: right;
   /* display: flex;
   justify-content: space-between; */
}

nav ul li {
   display: inline-block;
   /*transforma las listas en bloque*/
}

nav ul li:first-child {
   margin-left: 0;
}

nav ul li:last-child {
   margin-right: 2vw;
   background-color: var(--bg-color);
   border-radius: 5px;
}

nav ul li a,
nav>a {
   display: block;
   /*convierte los elementos de linea a bloque*/
   padding: 10px 20px;
   border-radius: 5px;
   color: var(--white-color);
   transition: background-color 0.3s, box-shadow 0.3s;
   /* Transici칩n del color de fondo */
}

nav ul li a:hover {
   background-color: var(--primary-color);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   ;
}

a {
   text-decoration: none;
   color: var(--white-color);
}

h2 {
   color: var(--white-color);
   font-size: 2rem;
}

#logo {
   font-weight: bold;
}

.search-title {
   font-size: 4rem;
}

.movie-item-img {
   width: 200px;
   height: 300px;
   object-fit: cover;
}

body {
   background-color: var(--bg-color);
   font-family: var(--primary-font);
}

#banner {
   background-image: url(../img/banner-bg.jpg);
   background-size: cover;
   background-position: center;
   color: var(--white-color);
   height: 90vh;
   /*alto*/
   box-shadow: inset 0 0 0 2000px rgba(17, 17, 17, 0.54);
   display: flex;
   /*contenedor flexible que organiza a sus elementos hijos*/
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.titulo_Principal {
   font-size: 4rem;
   font-weight: 700;
   margin-bottom: 1rem;
}

.subtitulo_Principal{
   font-size: 2.2rem;
   font-weight: 400;
   margin-bottom: 1rem;
}

.btn-cac{
   padding: 10px 20px;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    outline: none; /* Esto elimina cualquier borde de enfoque predeterminado */
    transition:  background-color 0.3s, box-shadow 0.3s;
}

.btn-cac:hover{
   background-color: var(--primary-color);
   box-shadow: 0 0 10px rgba(0, 0, 0, 5);
}

@keyframes pulse{
   0%{
       transform: scale(1);
   }50%{
       transform: scale(1.1);
   }100%{
       transform: scale(1);
   }
}
.btn-cac:hover{
   animation: pulse 0.5s infinite alternate;/* palpito infinito*/
}

footer{
   background-color: var(--primary-color);
   padding: 4vh 0;
   display: flex;
   align-items: center;
   justify-content: center;
}
.listaFooter{
   font-size: 19px;
}

.search-title{
   color: white;
   font-size: 3vw;
}

.container{
   max-width: 1200px;
   margin: 0 auto;
}

.input-search {
   background-color: var(--bg-input-color);
   border: 2px solid white;
   border-radius: 25px;
   color: white;
   font-size: 16px;
   height: 50px;
   margin: 20px 0px;
   outline: none;
   padding: 0px 20px;
   width: 70%;
   font-family: 'Nunito', sans-serif;
}

.movie-item-detail {
   bottom: -100%;
   padding: 30px;
   max-height: 100%;
   overflow-y: auto;
   line-height: 15px;
   position: absolute;
   background-color: var(--third-bis-color);
   box-sizing: border-box;
   transition: bottom 0.4s ease-in-out;
   width: 100%;
}

.movie-item-detail-title {
   color: white;
   margin: 5px 0px 0px 0px;
}
 
.movie-item-detail-subtitle {
   color: white;
   font-size: 8px;
   margin: 3px 0px;
}

#top-rated{
   margin: 50px 0px;
}
/* 
<!-- Info de las pel칤culas mismo formato para todas --> */
.movie-item-v2{
   border-radius: 20px;
   width: 170px;    
   min-width: 170px;
   font-size: 20px;
   cursor: pointer;
   margin-left: 30px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   transition: 450ms all;
   -webkit-transform-origin: center left;
           transform-origin: center left;
   
}

.wrapper {
   box-shadow: 0 2px 8px rgba(0,0,0,.1);
   border-radius: 10px;
   width: 100%;
   min-height: calc(150px*1.5);
   height: calc(150px*1.5);
   overflow: hidden;
}

.movie-item-img-v2 {
   width: 100%;
   height: 100%;
   -o-object-fit: cover;
   object-fit: cover;
}

.movie-item-detail-v2 {
   align-items: flex-start;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}

.movie-item-detail-title-v2 {
   color: white;
   font-weight: bold;
   margin: 5px 0px 0px 0px;
}

.movie-item-detail-subtitle-v2 {
   color: white;
   font-size: 12px;
   margin: 3px 0px;
}



#popular,#top-rated {
   text-align: center;
}

#popular h2,#top-rated h2{
   margin: 30px 0px;
}

.movie-item{
   border-radius: 20px;
   overflow: hidden;
   position: relative;
   display: inline-block;
   width: 200px;
   height: 300px;
   font-size: 20px;
   cursor: pointer;
   transition: all 450ms;
   -webkit-transform-origin: center left;
           transform-origin: center left;
}

/* Efecto que ocurre al pasar el cursor sube una ventana en 
cada imagen de cada pel칤cula y muestra los detalles */
.movie-item:hover{
   opacity: 0.9;
}

.movie-item:hover .movie-item-detail {
   bottom: 0;
} */

/* Agrega una estrella al lado del subtitulo */
.movie-item-detail-subtitle::after{
   content: '游';
}

/* Estilos a los nombres de las pel칤culas que 
est치n en la secci칩n  */
.movie-item-detail-title-v2:hover {
   color: var(--primary-color);
}

#search{
   height: 300px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

/* Se agrega un scroll */
.movies-scroller{
   overflow-x: scroll;
   overflow-y: hidden;
   width: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   padding:0px 0px 40px 0px;
}

.movie-item-v2{
   border-radius: 20px;
   width: 170px;    
   min-width: 170px;
   font-size: 20px;
   cursor: pointer;
   margin-left: 30px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   transition: 450ms all;
   -webkit-transform-origin: center left;
           transform-origin: center left;
   
}


.movie-item-detail-v2 {
   align-items: flex-start;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}


.movies-grid{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   grid-template-rows: repeat(2,1fr);
   justify-items: center;
   row-gap: 20px;
} 

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* TABLETS */
@media screen and (min-width: 768px) and (max-width: 1023px) {
   h2{
       font-size: 3vw;
   }
   .login-text{
       display: none;
   }
   .logo-text{
       display: none;
   }
   #banner{
       height: 400px;
   }
   #search{
       height: 200px;
   }
   .container{
       max-width: 720px;
   }
   .card-banner{
       padding: 0px 75px;
   }
       
   #footer {
       flex-direction: column;
       align-items: center;
       justify-content: center;

   }
}


/* CELULARES */
@media screen and (max-width: 767px) {
   h2{
       font-size: 3vw;
   }

   .h2-subtitle{
       font-size: 5vw;
   }
   .login-text{
       display: none;
   }
   .logo-text{
       display: none;
   }
   #banner{
       height: 300px;
   }
   #search{
       height: 200px;
   }
   .container{
       max-width: 420px;
   }
   .card-banner{
       padding: 0px 50px;
   }

   .btn-cac{
       font-size: 1vh;
   }
   #footer {
       flex-direction: column;
       align-items: center;
       justify-content: center;
   }

   #footer a{
       padding: 2px 0px;
   }
}